dspy_ai==2.4.9
streamlit==1.31.1
wikipedia==1.4.0
streamlit_authenticator==0.2.3
streamlit_oauth==0.1.8
streamlit-card
google-cloud==0.34.0
google-cloud-vision==3.5.0
google-cloud-storage==2.14.0
sentence_transformers
faiss-cpu==1.14.3
toml==0.10.2
dspy==2.5.29
markdown
unidecode
extra-streamlit-components==0.1.60
google-cloud-firestore==2.14.0
firebase-admin==6.4.0
streamlit_extras
streamlit_cookies_manager
deprecation==2.1.0
st-pages==0.4.5
streamlit-float
streamlit-option-menu
sentry-sdk
pdfkit==1.0.0
langchain-text-splitters==0.3.2
trafilatura==1.12.2
langchain-huggingface
qdrant-client
langchain-qdrant
dashscope==1.20.12
langchain_text_splitters
transformers==4.46.2
langchain_qdrant
langchain_huggingface
prometheus-eval==0.1.20
spacy==3.8.2
numpy==1.26.4
